body {
	background-color: black !important;
	color: white !important;
	margin: 0 auto !important;
	background-image: url(../images/background.png);
}

.uploader {
	background-color: black;
	color: white;
	display: block;
	margin: 0 auto;
	width: 90%;
}

.radio-buttons {
	margin: 20px auto;
    width: 90%;
    display: block;
    text-align: center;
}

.main-description {
	text-align: center;
	margin: 0 auto;
	width: 90%;
	margin-bottom: 60px;
	margin-top: 20px;
}

.upload-button {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

.btn {
	width: 40%;
}

.file-picker .btn-tertiary{color:#00AB4E;padding:0;line-height:40px;width:300px;margin:auto;display:block;border:2px solid #00AB4E}
.file-picker .btn-tertiary:hover,.file-picker .btn-tertiary:focus{color:#00d662;border-color:#00d662}
.file-picker .input-file{width:.1px;height:.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1}
.file-picker .input-file + .js-labelFile{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:0 10px;cursor:pointer}
.file-picker .input-file + .js-labelFile .icon:before{content:"\f093"}
.file-picker .input-file + .js-labelFile.has-file .icon:before{content:"\f00c";color:#00AB4E}
