<!DOCTYPE html>
<html lang="ru">
<head>
	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS and Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../static/styles/home.css">
	<!-- Title -->
	<title>FMath</title>

  <script type="text/javascript">
    if (window.location.toString().includes("error_alert")) {
      alert('Ошибка, был передан неправильный файл или выбраны неправильные параметры. Если такое случается постоянно, свяжитесь с Админами.');
      window.location.replace('/')
    }
  </script>
</head>

<body>
	<!-- Main description -->
	<div class="main-description">
		<h1>
			Устал прорешивать варианты ОГЭ/ЕГЭ?
		</h1>
	</div>
	<!-- Data collection form -->
	<form action="/solution" method="post" enctype=multipart/form-data>
		<div class="btn-group btn-group-toggle radio-buttons" data-toggle="buttons">
			<label class="btn btn-secondary active">
				<input type="radio" name="subject" value="math"  autocomplete="off" checked> Математика
			</label>
  			<label class="btn btn-secondary">
    			<input type="radio" name="subject" value="inf"  autocomplete="off"> Информатика
  			</label>
  			<label class="btn btn-secondary">
    			<input type="radio" name="subject" value="phys"  autocomplete="off"> Физика
  			</label>
  			<label class="btn btn-secondary">
    			<input type="radio" name="subject" value="rus"  autocomplete="off">Русский
  			</label>
  			<label class="btn btn-secondary">
    			<input type="radio" name="subject" value="chem"  autocomplete="off">Химия
  			</label>
  			<label class="btn btn-secondary">
    			<input type="radio" name="subject" value="bio"  autocomplete="off">Биология
  			</label>
  			<label class="btn btn-secondary">
    			<input type="radio" name="subject" value="en"  autocomplete="off">Английский
  			</label>
  			<label class="btn btn-secondary">
    			<input type="radio" name="subject" value="geo"  autocomplete="off">География
  			</label>
  			<label class="btn btn-secondary">
    			<input type="radio" name="subject" value="lit"  autocomplete="off">Литература
  			</label>
  			<label class="btn btn-secondary">
    			<input type="radio" name="subject" value="soc"  autocomplete="off">Обществознание
  			</label>
  			<label class="btn btn-secondary">
    			<input type="radio" name="subject" value="hist"  autocomplete="off">История
  			</label>
  			<label class="btn btn-secondary">
    			<input type="radio" name="subject" value="fr"  autocomplete="off">Французский
  			</label>
  		</div>

  		<div class="btn-group btn-group-toggle radio-buttons" data-toggle="buttons">
			<label class="btn btn-secondary active">
				<input type="radio" name="exam" value="oge" autocomplete="off" checked> ОГЭ
			</label>
  			<label class="btn btn-secondary">
    			<input type="radio" name="exam" value="ege" autocomplete="off"> ЕГЭ
  			</label>
  		</div>

    <form method="post" enctype="multipart/form-data">
    <div class="upload-div">
      <label for="file" class="label-upload"><input type="file" name="file" id="file" class="upload-input" accept="application/pdf">Загрузить</label>
    </div>
		<input type="submit" class="btn btn-outline-success  upload-button" value="Решить">


  </form>
</body>
</html>

